<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Cartera - Todos</title>
</head>
<body>
    <nav>
        <a href="/new_movement">nuevo</a>
    </nav>
    <main>
        <h1>Mis Movimientos</h1>
        <table>
            <tr>
                <th>Fecha</th>
                <th>Concepto</th>
                <th>importe</th>
            </tr>
            {% for movement in The_movements %}
            <tr>
                <td>{{ movement.date }}</td>
                <td>{{ movement.abstract }}</td>
                <td>{{ movement.amount }} {{ movement.currency }}</td>
            </tr>
            {% endfor %}
        </table>
    </main>
</body>
</html>