<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>titulito</title>
        
    </head>
    <body>
        <section>
            <h1> soy un articulo cientifico</h1>
            <p class="resumen">soy el resumen del articulo</p>
            <p> soy el primer parrafo</p>
            <ul>
                <li>opcion 1</li>
                <li>opcion 2</li>
            </ul>
            <img src="/images/photo.jpg" alt="grafica de resultado">
        </section>
        <footer>
            soy un pie
        </footer>
    </body>
</html>